/* Core design */
* {
	font-family: "Open Sans", sans-serif;
}


/* Navbar Setting */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background-color: rgba(34, 83, 151, 0.897);
	color: #fff;
	position: fixed;
	width: 100%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: 100000000;
}

.nav-links {
	margin: 0;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
}

/* LOGO */

.logo img {
	width: 10rem;
	height: 4.6rem;
	object-fit: cover;
}

/* NAVBAR MENU */
.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}

.menu ul,
li,
ol {
	list-style: none;
}

.menu li:hover {
	background-color: hsl(215, 50%, 70%);
	border-radius: 5px;
	transition: 0.3s ease;
}

.menu li {
	padding: .5rem 1.3rem;
}

.active-nav-link {
	background-color: hsl(215, 50%, 60%);
	border-radius: 5px;
}

.active-nav-link:hover {
	background-color: hsl(215, 50%, 50%);
	border-radius: 5px;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
	display: none;
}

/* HAMBURGER MENU */
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	.navbar {
		background-color: rgba(34, 83, 151);
		color: #fff;
	}

	.menu {
		display: none;
		position: absolute;
		background-color: rgba(34, 83, 151);
		color: #fff;
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px 0;
		margin-top: 3.18rem;
		backdrop-filter: blur(10px) !important;
		-webkit-backdrop-filter: blur(10px) !important;
	}

	/* body > header > nav > ul > div */
	.menu li {
		display: block;
		padding: .3rem 2rem;
		margin: .3rem 1rem;
	}

	.menu li:hover {
		display: block;
		background-color: hsl(215, 50%, 70%);
		transition: 0.3s ease;
	}

	.menu li+li {
		margin-top: 12px;
	}

	input[type=checkbox]:checked~.menu {
		display: block;
	}

	.hamburger {
		display: block;
	}

	body>header>nav>ul>div>li>a {
		display: block;
	}

}

.hamburger:hover {
	cursor: pointer;
}


/* Hero */
#hero {
	width: 100%;
}

.btn-primary {
	background-color: rgb(34, 83, 151);
	border-color: #225397;
	padding: .5rem 1.3rem;
}

.btn-primary:hover {
	background-color: hsl(215, 63%, 20%);
	border-color: hsl(215, 63%, 20%);
}

#hero h1 {
	font-weight: 700;
	text-transform: lowercase;
}

.hero-content {
	width: 80%;
}

/* Footer Style */
footer {
	background: rgba(34, 83, 151);
	color: #fff;
}

footer img {
	width: 100%;
	height: 4rem;
	object-fit: contain;
}

.text-white {
	color: #fff;
}

.link-no-deco {
	text-decoration: none;
}

footer a {
	padding: 0.3rem;
	border-radius: .5rem;
}

footer a:hover {
	background-color: hsla(215, 63%, 60%);
	transition: 0.3s ease;
}

.credit {
	font-size: .8rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
}

/* Flyer Style */
.flyer-img {
	width: 100%;
	object-fit: fill;
	padding: .5rem;
}

.flyer-row {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-bottom: 1rem;
}

@media (max-width: 768px) {
	.flyer-row {
		flex-wrap: wrap;
	}

	.flyer-img {
		width: 100%;
		object-fit: fill;
		padding: .5rem;
	}
}

@media (min-width: 769px) {
	.flyer-img {
		width: 37%;
		object-fit: fill;
		padding: .5rem;
	}
}

.flyer-row {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.flyer-row::-webkit-scrollbar {
	display: none;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 2rem;
}

.contact-section {
	padding: 5rem 0;
	background-color: #fff;
}

.text-center {
	text-align: center;
}

/* contact us forms styling */
.map-col {
	flex: 1 1 40%;
}

.form-col {
	flex: 1 1 60%;
}

.map {
	width: 100%;
	height: 100%;
	border: none;
}

.form-group {
	margin-bottom: 2rem;
}

.form-label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.form-control {
	width: 100%;
	padding: .5rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	font-size: 1rem;
}

.form-text {
	font-size: 0.875rem;
	color: #777;
}

.btn-submit {
	display: inline-block;
	width: 100%;
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}

@media (max-width: 768px) {
	.row {
		flex-direction: column;
	}

	.map-col,
	.form-col {
		flex: 1 1 100%;
	}
}

/* products card styling */
.product-card {
	border: 1px solid #c0c0c0;
	border-radius: 1.5rem;
}

.product-card img {
	width: 100%;
	height: 10rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0rem 0rem;
	padding: 0;
	margin: 0;
}

.product-card-content {
	padding: 2rem;
	margin: 0;
}

.gold-clr {
	color: hsl(51, 100%, 40%);
}

.text-muted {
	opacity: .5;
}

.text-small {
	font-size: small;
}

.text-limit-300 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.text-right {
	display: block;
	text-align: right;
}

.right-align {
	margin: 0 0 0 auto;
}

.view-all-btn {
	background-color: #777;
	border-color: #777;
	padding: .5rem 1.3rem;
	text-decoration: none;
	color: #fff;
	border-radius: .5rem;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.view-all-btn:hover {
	background-color: #ccc;
	border-color: #ccc;
	color: #000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-all-btn-second {
	text-align: center;
	display: none;
	width: 100%;
	background-color: #777;
	border-color: #777;
	padding: .5rem 1.3rem;
	text-decoration: none;
	color: #fff;
	border-radius: .5rem;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.view-all-btn-second:hover {
	background-color: #ccc;
	border-color: #ccc;
	color: #000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.view-all-btn {
		display: none;
	}

	.view-all-btn-second {
		display: block;
	}
}

hr {
	color: #c0c0c0;
}

.btn-secondary {
	background-color: rgb(57, 62, 69);
	border-color: rgb(57, 62, 69);
	padding: .5rem 1.3rem;
}

.btn-secondary:hover {
	background-color: rgba(57, 62, 69, 0.74);
	border-color: rgba(57, 62, 69, 0.74);
}

/* products view styling */
.product-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.product-col {
	width: 33%;
	margin: 0;
	padding: 2rem;
}



@media (max-width: 800px) {
	.product-col {
		width: 50%;
		margin: 0;
		padding: 2rem 0;
	}
}

@media (max-width: 630px) {
	.product-col {
		width: 100%;
		margin: 0;
		padding: 1rem 0;
	}
}

.about_us_bg {
	background-image: url("../Images/heroimage/About_us.jpg");
}

.shop_bg {
	background-image: url("../Images/heroimage/shop.jpg");
}

.contact_us_bg {
	background-image: url("../Images/heroimage/contact_us.jpg");
}

.home_bg {
	background-image: url("../Images/heroimage/home.jpg");
}

.blur-layer {
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
	padding: 20rem 0rem 10rem 0rem;
	background-position: center;
	backdrop-filter: blur(10px);
}

.about_us_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.about_us_col_25 {
	width: 25%;
	padding: .25rem;
	margin: 0;
}

.about_us_col_75 {
	width: 75%;
	padding: .25rem;
	margin: 0;
}

.about_us_col_50 {
	width: 50%;
	padding: .25rem;
	margin: 0;
}


.about_us_img {
	width: 100%;
	object-fit: contain;
}

.about_us_row_no_mid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


@media (max-width: 768px) {
	.about_us_row {
		display: block;
	}

	.about_us_col_25 {
		width: 100%;
	}

	.about_us_col_75 {
		width: 100%;
	}

	.about_us_col_50 {
		width: 100%;
	}

	.about_us_row_no_mid {
		display: block;
	}
}

.about_us_row_no_mid p,
.about_us_row p {
	text-align: justify !important;
}